<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nativeproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <!-- <receiver android:name="com.nativeproject.SMSBroadcastReceiver.SMSBroadcastReceiver" >
          <intent-filter android:priority="999">
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
          </intent-filter>
        </receiver> -->
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
